# Text Normalization

This notebook focuses on normalizing the text from the competition Jigsaw to the point where we have a suitable stream of text that can be used to extract features.

In [1]:
# Import libraries
# Operating system functions
import os
# Random generators
import random
# Time measurement and processing time
import time
# Data frames and data manipulation
import pandas as pd
# Numerical library
import numpy as np
# TQDM: progress bar (https://github.com/tqdm/tqdm)
import tqdm
# Plotting library
import matplotlib.pyplot as plt
# Statistical data visualization
import seaborn as sns
# Natural language toolkit
import nltk
import spacy
# Various operations on collections
import operator

In [20]:
# local helper functions
import helpers
# Importlib allows reloading a file (for example when it is changed)
# https://docs.python.org/3/library/importlib.html#importlib.reload
import importlib
importlib.reload(helpers)

In [3]:
# some initialization
def set_seed(seed=0):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

set_seed(1)

### Define Where Data is Located

In [6]:
# Gamer
#data_path = 'F:/kg-jigsaw-data/data'
# Laptop
data_path = 'C:/Users/Gerald/kg-jig/kg-jigsaw-data/data'
train_data_path=data_path + "/train.csv"
test_data_path=data_path + "/test.csv"
train_sample_data_path= data_path + "/train-sample.csv"

print (data_path)
%ls "$data_path"

C:/Users/Gerald/kg-jig/kg-jigsaw-data/data
 Volume in drive C is OS
 Volume Serial Number is B41D-1118

 Directory of C:\Users\Gerald\kg-jig\kg-jigsaw-data\data

04/06/2019  01:50 PM    <DIR>          .
04/06/2019  01:50 PM    <DIR>          ..
03/28/2019  09:17 PM         1,167,854 sample_submission.csv
03/28/2019  09:17 PM        30,179,878 test.csv
03/28/2019  09:16 PM       816,211,476 train.csv
04/06/2019  01:32 PM        25,584,557 train-sample.csv
04/06/2019  01:36 PM        15,077,629 train-sample.xlsx
               5 File(s)    888,221,394 bytes
               2 Dir(s)  388,400,234,496 bytes free

### Load Data

In [21]:
# load the two data sets
train_df = helpers.load_data(train_data_path, "Training set")
test_df = helpers.load_data(test_data_path, "Test set")

#timer = helpers.start_timer()
#train_df = pd.read_csv(train_sample_data_path)
#train_df = pd.read_csv(train_data_path)
#print(helpers.elapsed_time_ext("Training set load time", helpers.stop_timer(timer), "record", len(train_df)))

#timer = helpers.start_timer()
#test_df = pd.read_csv(test_data_path)
#print(helpers.elapsed_time_ext("Test set load time", helpers.stop_timer(timer), "record", len(test_df)))

Training setload time: 15982.300 ms for 1804874 records (112929.551 record/s, 0.009 ms/record)
Test setload time: 440.999 ms for 97320 records (220680.638 record/s, 0.005 ms/record)

The test set is 97K samples. If I read the Kernel requirement, the test must complete in 9 hours or less without GPU, and 2 hours or less with GPU. I understand this means we need to process 97K records in less than 9 hours, or an average of 330ms per text.<br/>

See https://www.kaggle.com/c/jigsaw-unintended-bias-in-toxicity-classification/overview/kernels-requirements

### Partition Data in Pickle Files

In [9]:
#train_df.head()
# in Pandas v24:
#import pyarrow.parquet as pq
#output_train = data_path + "test.pqt"

# This takes several minutes and the compression is not fantastic
if (False):
    output_train = data_path + "train.pickle"
    train_df.to_pickle(output_train, compression="gzip")
    print("Data saved to ", output_train, " ", len(train_df), " rows")
    output_test = data_path + "test.pickle"
    test_df.to_pickle(output_test, compression="gzip")
    print("Data saved to ", output_test, " ", len(test_df), " rows")

In [13]:
# list columns present in each dataset
print("Training set size: ", train_df.shape)
print("Test set size: ", test_df.shape)
print("List of fields for training set:\n", train_df.columns)
print("List of fields for test set:\n", test_df.columns)
#labels = ["target"]
#train_df[labels].describe()

Training set size:  (1804874, 45)
Test set size:  (97320, 2)
List of fields for training set:
 Index(['id', 'target', 'comment_text', 'severe_toxicity', 'obscene',
       'identity_attack', 'insult', 'threat', 'asian', 'atheist', 'bisexual',
       'black', 'buddhist', 'christian', 'female', 'heterosexual', 'hindu',
       'homosexual_gay_or_lesbian', 'intellectual_or_learning_disability',
       'jewish', 'latino', 'male', 'muslim', 'other_disability',
       'other_gender', 'other_race_or_ethnicity', 'other_religion',
       'other_sexual_orientation', 'physical_disability',
       'psychiatric_or_mental_illness', 'transgender', 'white', 'created_date',
       'publication_id', 'parent_id', 'article_id', 'rating', 'funny', 'wow',
       'sad', 'likes', 'disagree', 'sexual_explicit',
       'identity_annotator_count', 'toxicity_annotator_count'],
      dtype='object')
List of fields for test set:
 Index(['id', 'comment_text'], dtype='object')

In [10]:
train_df.describe()

,id,target,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,bisexual,...,parent_id,article_id,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
count,55609.000000,55609.000000,55609.000000,55609.000000,55609.000000,55609.000000,55609.000000,10916.000000,10916.000000,10916.000000,...,29500.000000,55609.000000,55609.000000,55609.000000,55609.000000,55609.000000,55609.000000,55609.000000,55609.000000,55609.000000
mean,275836.704274,0.087631,0.004207,0.015072,0.015166,0.068099,0.009720,0.004826,0.003699,0.003600,...,275663.980441,72872.734791,0.000755,0.000270,0.000036,2.247262,0.000629,0.006266,1.550540,8.410779
std,19902.284190,0.185047,0.022414,0.072204,0.063472,0.162639,0.052146,0.055233,0.054464,0.039496,...,19581.267018,23392.185467,0.034443,0.019431,0.005997,3.799358,0.025787,0.043501,29.777183,46.979452
min,59848.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,64824.000000,2006.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
25%,259321.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,259302.750000,54610.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
50%,275924.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,275582.000000,67456.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.000000
75%,292684.000000,0.108696,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,291990.500000,98136.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,6.000000
max,310126.000000,1.000000,0.534819,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,310119.000000,106453.000000,4.000000,2.000000,1.000000,60.000000,2.000000,0.948495,1848.000000,3509.000000

In [11]:
test_df.describe()

                 id
count  9.732000e+04
mean   7.048660e+06
std    2.809401e+04
min    7.000000e+06
25%    7.024330e+06
50%    7.048660e+06
75%    7.072989e+06
max    7.097319e+06

In [12]:
train_df.head(20)

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.000000,"This is so cool. It's like, 'would you want yo...",0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.000000,0,4
1,59849,0.000000,Thank you!! This would make my life a lot less...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.000000,0,4
2,59852,0.000000,This is such an urgent design problem; kudos t...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.000000,0,4
3,59855,0.000000,Is this something I'll be able to install on m...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.000000,0,4
4,59856,0.893617,haha you guys are a bunch of losers.,0.021277,0.000000,0.021277,0.872340,0.0,0.0,0.0,...,2006,rejected,0,0,0,1,0,0.000000,4,47
5,59859,0.666667,ur a sh*tty comment.,0.047619,0.638095,0.000000,0.333333,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.009524,0,105
6,59861,0.457627,hahahahahahahahhha suck it.,0.050847,0.305085,0.000000,0.254237,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.220339,0,59
7,59863,0.000000,FFFFUUUUUUUUUUUUUUU,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.000000,0,4
8,239575,0.000000,The ranchers seem motivated by mostly by greed...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,26662,approved,0,0,0,0,0,0.000000,0,4
9,239576,0.000000,It was a great show. Not a combo I'd of expect...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,26650,approved,0,0,0,1,0,0.000000,0,4
10,239578,0.000000,"Wow, that sounds great.",0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,26650,approved,0,0,0,0,0,0.000000,0,4
11,239579,0.440000,This is a great story. Man. I wonder if the pe...,0.000000,0.293333,0.000000,0.320000,0.0,0.0,0.0,...,26650,approved,0,0,0,1,0,0.040000,10,75
12,239582,0.000000,This seems like a step in the right direction.,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,26795,approved,0,0,0,5,0,0.000000,0,4
13,239583,0.600000,It's ridiculous that these guys are being call...,0.000000,0.100000,0.000000,0.600000,0.1,NaN,NaN,...,26670,approved,0,0,0,3,0,0.000000,0,10
14,239584,0.500000,This story gets more ridiculous by the hour! A...,0.000000,0.000000,0.000000,0.300000,0.0,NaN,NaN,...,26670,approved,0,0,0,9,0,0.000000,0,10
15,239585,0.000000,I agree; I don't want to grant them the legiti...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,26670,approved,0,0,0,3,0,0.000000,0,4
16,239589,0.000000,Interesting. I'll be curious to see how this w...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,26795,approved,0,0,0,20,0,0.000000,0,4
17,239590,0.000000,Awesome! I love Civil Comments!,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,26795,approved,0,0,0,3,0,0.000000,0,4
18,239591,0.000000,"I'm glad you're working on this, and I look fo...",0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,26795,approved,0,0,0,4,0,0.000000,0,4
19,239592,0.500000,"Angry trolls, misogynists and Racists"", oh my....",0.000000,0.000000,0.100000,0.500000,0.0,0.0,0.0,...,26795,approved,0,0,0,0,0,0.000000,4,10

# Get Text

In [13]:
texts = train_df[['comment_text','target']]

In [14]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)
pd.set_option('display.max_colwidth', 500)
texts.head(10)

                                                                                                               comment_text    target
0                     This is so cool. It's like, 'would you want your mother to read this??' Really great idea, well done!  0.000000
1        Thank you!! This would make my life a lot less anxiety-inducing. Keep it up, and don't let anyone get in your way!  0.000000
2                                    This is such an urgent design problem; kudos to you for taking it on. Very impressive!  0.000000
3                                      Is this something I'll be able to install on my site? When will you be releasing it?  0.000000
4                                                                                      haha you guys are a bunch of losers.  0.893617
5                                                                                                      ur a sh*tty comment.  0.666667
6                                                                                               hahahahahahahahhha suck it.  0.457627
7                                                                                                       FFFFUUUUUUUUUUUUUUU  0.000000
8  The ranchers seem motivated by mostly by greed; no one should have the right to allow their animals destroy public land.  0.000000
9                                          It was a great show. Not a combo I'd of expected to be good together but it was.  0.000000

# Load SpaCy Libraries

The choice was between SpaCy and NLTK. It was recommended that SpaCy is the better library to use to do NLP.

NLTK does not come with all libraries pre-installed. If you run the command below and it raises an error,
uncomment the "nltk.download()" and run again. It will open a separate window (on windows) from which you
can download the NLTK packages.
Once done, comment out this line.

In [38]:
#nltk.download()

In order to install SpaCy, open Anaconda Navigator, choose your environment and open a terminal for it. In the terminal, type the following two lines:
<pre>
conda install -c conda-forge spacy
python -m spacy download en
</pre>

In [22]:
spl = spacy.load("en_core_web_sm")

OSError: [E050] Can't find model 'en_core_web_sm'. It doesn't seem to be a shortcut link, a Python package or a valid path to a data directory.

Helper Functions

In [41]:
def show_corpus_stats(title, texts, toolkit='spacy'):
    text_count=0
    token_count=0
    text_len=0
    timer = helpers.start_timer()
    for t in texts['comment_text']:
        #texts['comment_text'][0]
        # NLTK 
        if (toolkit == 'nltk'): 
            tokens = nltk.word_tokenize(t)
        if (toolkit == 'spacy'): 
            tokens = spl(t)
        #print(tokens)
        text_len += len(t)
        token_count += len(tokens)
        text_count+=1
        if (text_count > 2000): break
    elapsed = helpers.stop_timer(timer)
    print(title)
    print("- ", helpers.elapsed_time_ext("Tokenized text", elapsed, "sentence", text_count))
    print("- ", helpers.elapsed_time_ext("Tokenized token", elapsed, "token", token_count))
    print("- ", helpers.elapsed_time_ext("Tokenized characters", elapsed, "char", text_len))

# Tokenize

In [42]:
# NLTK
show_corpus_stats("Training Corpus (NLTK)", train_df[['comment_text', 'target']],toolkit='nltk')

Training Corpus (NLTK)
-  Tokenized text: 974.406 ms for 2001 sentences (2053.558 sentence/s, 0.487 ms/sentence)
-  Tokenized token: 974.406 ms for 127127 tokens (130466.118 token/s, 0.008 ms/token)
-  Tokenized characters: 974.406 ms for 633071 chars (649699.245 char/s, 0.002 ms/char)

NLTK is fairly efficient at tokenizing, with an average of 0.5ms per sentence.

In [43]:
# SpaCy
show_corpus_stats("Training Corpus (SpaCy)", train_df[['comment_text', 'target']])

Training Corpus (SpaCy)
-  Tokenized text: 27514.396 ms for 2001 sentences (72.726 sentence/s, 13.750 ms/sentence)
-  Tokenized token: 27514.396 ms for 131119 tokens (4765.469 token/s, 0.210 ms/token)
-  Tokenized characters: 27514.396 ms for 633071 chars (23008.719 char/s, 0.043 ms/char)

SpaCy is much more expensive if you just need tokenization. It takes around 14ms per sentence.

In [31]:
show_corpus_stats("Test Corpus", test_df[['comment_text']], toolkit='nltk')

Test Corpus
-  Tokenized text: 12586.374 ms for 1001 sentences (79.530 sentence/s, 12.574 ms/sentence)
-  Tokenized token: 12586.374 ms for 60241 tokens (4786.208 token/s, 0.209 ms/token)
-  Tokenized characters: 12586.374 ms for 291367 chars (23149.399 char/s, 0.043 ms/char)

There is a total of 5,822,679  tokens in the test set. This means that 
the average processing time per token must be around 5.5ms ((9*3600) / 5822679)

# Looking at Vocabulary

In this section, we look at words present in the training corpus. The steps are:

- Tokenize every sentence in the training set
- Create a dictionary of all words used, and count the number of occurrences

In [65]:
def create_dictionary(texts):
    word_dict = {}
    text_count = len(texts)
    count=0
    for t in texts:
        tokens = nltk.word_tokenize(t)
        for tk in tokens:
            if tk in word_dict:
                word_dict[tk] = word_dict[tk] + 1
            else:
                word_dict[tk] = 1
        if (count%5000 == 0):
            print("Processed ", "{0:.1f}".format(count * 100/ text_count), "%")
        count += 1
    print("Processed ", "{0:.1f}".format(count * 100/ text_count), "%")
    return word_dict

In [66]:
texts = train_df['comment_text']

In [67]:
word_dict = create_dictionary(texts)

Processed  0.0 %
Processed  9.0 %
Processed  18.0 %
Processed  27.0 %
Processed  36.0 %
Processed  45.0 %
Processed  53.9 %
Processed  62.9 %
Processed  71.9 %
Processed  80.9 %
Processed  89.9 %
Processed  98.9 %

In [70]:
print("Shape of training set: ", train_df.shape)
print("Number of tokens (words) in training set: ", len(word_dict))

(55609, 45)
82570

In [110]:
sorted_words = sorted(word_dict.items(), key=lambda kv: kv[1], reverse=True)
word_df = pd.DataFrame(sorted_words, columns =['word', 'count'])

word_df.head(10)
print("Number of words appearing only once: ", len(word_df[word_df['count']==1]))
print("Number of words appearing twice: ", len(word_df[word_df['count']==2]))
print("Number of words appearing three times: ", len(word_df[word_df['count']==3]))

Number of words appearing only once:  40780
Number of words appearing twice:  10712
Number of words appearing three times:  5420

The observation here is that the dictionary can be shrunk by 55K words (out of 82.5K) if we are ok to drop words that only appear 3 times or less.

## Cleanup
Look at the set of words that appear more than once, and look for ways to normalize those

In [112]:
display(word_df.head(10))

   word   count
0     .  160674
1   the  136724
2     ,  113719
3    to   87354
4   and   68416
5    of   64504
6     a   64153
7    is   46103
8    in   42008
9  that   40754

### Look for one letter words

In [164]:
def get_codepoint(word):
    #if (not isinstance(word, str)): 
    #    return 0
    if (len(word) == 1): 
        return ord(word)
    elif (len(word) == 2): 
        return str(ord(word[0])) + "," + str(ord(word[1]))
    else:
        return 0
    
def is_emoji(char):
    val = ord(char)
    if (val > 0x1F000): return True
    if (val >= 0xFE00 and val <= 0xFEFF): return True
    if (val >= 0x2000 and val <= 2800): return True
    return False

import string

def is_punct(char):
    return char in string.punctuation

In [165]:
word_df['sz'] = word_df.apply (lambda row: len(row['word']), axis=1)
word_df['unicode'] = word_df.apply (lambda row: get_codepoint(row['word']), axis=1)
word_df['punct'] = word_df.apply (lambda row: is_punct(row['word'][0]), axis=1)
word_df['emoji'] = word_df.apply (lambda row: is_emoji(row['word'][0]), axis=1)
word_df[word_df['sz'] == 1]

      word   count  sz unicode  emoji  punct
0        .  160674   1      46  False   True
2        ,  113719   1      44  False   True
6        a   64153   1      97  False  False
10       I   40300   1      73  False  False
14       ?   23930   1      63  False   True
29       !   14405   1      33  False   True
48       )    8939   1      41  False   True
53       (    8274   1      40  False   True
62       :    7403   1      58  False   True
77       $    5323   1      36  False   True
98       -    4270   1      45  False   True
109      '    3810   1      39  False   True
131      ;    3177   1      59  False   True
132      %    3123   1      37  False   True
153      ’    2638   1    8217  False  False
163      A    2404   1      65  False  False
188      &    1914   1      38  False   True
241      s    1531   1     115  False  False
295      “    1275   1    8220  False  False
296      ”    1256   1    8221  False  False
338      1    1048   1      49  False  False
352      2    1021   1      50  False  False
375      3     939   1      51  False  False
445      t     799   1     116  False  False
474      4     744   1      52  False  False
558      5     626   1      53  False  False
591      i     591   1     105  False  False
803      >     441   1      62  False   True
821      8     433   1      56  False  False
841      #     418   1      35  False   True
872      ᴀ     399   1    7424  False  False
940      6     367   1      54  False  False
969      [     356   1      91  False   True
989      ]     350   1      93  False   True
1128     7     298   1      55  False  False
1428     U     230   1      85  False  False
1446     =     228   1      61  False   True
1482     –     222   1    8211  False  False
1542     —     211   1    8212  False  False
1736     `     185   1      96  False   True
1764     R     182   1      82  False  False
1794     9     178   1      57  False  False
1818     ‘     175   1    8216  False  False
1830     O     174   1      79  False  False
1990     D     157   1      68  False  False
2057     *     151   1      42  False   True
2172     m     143   1     109  False  False
2209     @     139   1      64  False   True
2418     /     128   1      47  False   True
2821     <     105   1      60  False   True
2955     +      99   1      43  False   True
3337     F      84   1      70  False  False
3550     b      77   1      98  False  False
3552     ~      77   1     126  False   True
3599     B      75   1      66  False  False
3687     W      73   1      87  False  False
3715     …      72   1    8230  False  False
4241     0      61   1      48  False  False
4488     C      57   1      67  False  False
4558     G      56   1      71  False  False
4781     d      52   1     100  False  False
4820     X      51   1      88  False  False
4897     n      51   1     110  False  False
5016     K      49   1      75  False  False
5401     T      44   1      84  False  False
5435     x      44   1     120  False  False
6258     _      36   1      95  False   True
6491     u      34   1     117  False  False
6735     S      32   1      83  False  False
6924     }      31   1     125  False   True
7167     o      29   1     111  False  False
7239     J      29   1      74  False  False
7281     ^      29   1      94  False   True
7409     c      28   1      99  False  False
7418     P      28   1      80  False  False
7526     Q      27   1      81  False  False
7835     {      26   1     123  False   True
7836     ·      26   1     183  False  False
7866     N      25   1      78  False  False
7975     Y      25   1      89  False  False
8625     E      22   1      69  False  False
8713     M      22   1      77  False  False
9433     y      19   1     121  False  False
9542     Z      19   1      90  False  False
9912     ­      18   1     173  False  False
10098    e      17   1     101  False  False
10299    ―      17   1    8213  False  False
10544    f      16   1     102  False  False
10599    L      16   1      76  False  False
10610    r      16   1     114  False  False
10884    •      15   1    8226  False  False
11015    H      15   1      72  False  False
11052    §      15   1     167  False  False
11914    k      13   1     107  False  False
12160    l      13   1     108  False  False
13345    v      11   1     118  False  False
13735    w      10   1     119  False  False
14466    p      10   1     112  False  False
14635    g       9   1     103  False  False
15322    ‪       9   1    8234  False  False
16418    V       8   1      86  False  False
18193    z       6   1     122  False  False
19295    😄       6   1  128516   True  False
22255    °       4   1     176  False  False
30440    👍       3   1  128077   True  False
31315    🐵       2   1  128053   True  False
31727    ≠       2   1    8800  False  False
32546    😢       2   1  128546   True  False
33128    j       2   1     106  False  False
33166    ☺       2   1    9786  False  False
33418    😜       2   1  128540   True  False
34531    |       2   1     124  False   True
35308    😂       2   1  128514   True  False
35705    😀       2   1  128512   True  False
38126    q       2   1     113  False  False
39765    ÷       2   1     247  False  False
40288    💩       2   1  128169   True  False
41879    ＼       1   1   65340  False  False
42229    😑       1   1  128529   True  False
42826           1   1   57364  False  False
44133           1   1   61514  False  False
44927    ™       1   1    8482  False  False
44939    🐶       1   1  128054   True  False
46425    τ       1   1     964  False  False
46426    α       1   1     945  False  False
46977           1   1   61664  False  False
49727    😁       1   1  128513   True  False
50366    💖       1   1  128150   True  False
50612    →       1   1    8594  False  False
50816    ❤       1   1   10084  False  False
53398    ©       1   1     169  False  False
55047    ★       1   1    9733  False  False
55704           1   1     150  False  False
57424    😎       1   1  128526   True  False
60431    😱       1   1  128561   True  False
61367    h       1   1     104  False  False
63056    🚌       1   1  128652   True  False
63732    🌟       1   1  127775   True  False
65046    😊       1   1  128522   True  False
65536    ‏       1   1    8207  False  False
66830    😃       1   1  128515   True  False
66837    😘       1   1  128536   True  False
71046    💯       1   1  128175   True  False
72009    ⛽       1   1    9981  False  False
72023    €       1   1    8364  False  False
72470    🚄       1   1  128644   True  False
73143    😖       1   1  128534   True  False
80616    ♡       1   1    9825  False  False
81675    😟       1   1  128543   True  False

We see the following:

- There are punctuation marks
- Parenthesis
- Emojis

Emojis codepoint seems to be around 126976 (0x1F000)

- https://emojipedia.org/emoji/
- https://unicode.org/emoji/charts/full-emoji-list.html

## Look for two letter words

In [166]:
two_letter_words = word_df[word_df['sz'] == 2]
display(two_letter_words)
#two_letter_words.head(100)
#display(sorted(two_letter_words, key=lambda kv: kv[1], reverse=True))

      word  count  sz        unicode  emoji  punct
3       to  87354   2        116,111  False  False
5       of  64504   2        111,102  False  False
7       is  46103   2        105,115  False  False
8       in  42008   2        105,110  False  False
13      it  27463   2        105,116  False  False
16      's  23318   2         39,115  False   True
19      be  20671   2         98,101  False  False
21      on  20275   2        111,110  False  False
22      ''  18251   2          39,39  False   True
23      ``  17918   2          96,96  False   True
26      do  15917   2        100,111  False  False
28      as  14565   2         97,115  False  False
32      or  12918   2        111,114  False  False
36      we  10967   2        119,101  False  False
39      at  10372   2         97,116  False  False
40      by  10335   2         98,121  False  False
47      an   9003   2         97,110  False  False
56      he   8044   2        104,101  False  False
57      It   7957   2         73,116  False  False
59      so   7556   2        115,111  False  False
60      if   7488   2        105,102  False  False
63      no   7121   2        110,111  False  False
66      up   6716   2        117,112  False  False
68      my   6664   2        109,121  False  False
80      If   5106   2         73,102  False  False
91      me   4660   2        109,101  False  False
111     We   3776   2         87,101  False  False
118     'm   3667   2         39,109  False   True
126     us   3358   2        117,115  False  False
129     go   3243   2        103,111  False  False
141     --   2768   2          45,45  False   True
155     So   2627   2         83,111  False  False
161     He   2438   2         72,101  False  False
167     am   2235   2         97,109  False  False
172     ca   2120   2          99,97  False  False
173     In   2119   2         73,110  False  False
175     No   2092   2         78,111  False  False
196     As   1837   2         65,115  False  False
222     Do   1654   2         68,111  False  False
257     'd   1497   2         39,100  False   True
293     My   1284   2         77,121  False  False
354     wo   1011   2        119,111  False  False
385     Is    922   2         73,115  False  False
437     US    823   2          85,83  False  False
461     To    761   2         84,111  False  False
498     10    706   2          49,48  False  False
508     Or    691   2         79,114  False  False
549     Oh    635   2         79,104  False  False
559     ..    625   2          46,46  False   True
567     20    610   2          50,48  False  False
574     At    604   2         65,116  False  False
645     Of    540   2         79,102  False  False
711     50    493   2          53,48  False  False
764     30    461   2          51,48  False  False
860     90    407   2          57,48  False  False
921     RG    376   2          82,71  False  False
946     By    364   2         66,121  False  False
980     40    353   2          52,48  False  False
994     On    348   2         79,110  False  False
998     HB    348   2          72,66  False  False
1037    15    331   2          49,53  False  False
1072    Go    318   2         71,111  False  False
1129    NO    297   2          78,79  False  False
1138    AK    296   2          65,75  False  False
1166    12    288   2          49,50  False  False
1203    An    277   2         65,110  False  False
1254    OK    265   2          79,75  False  False
1271    ᴜᴘ    262   2      7452,7448  False  False
1272    ʙʏ    262   2        665,655  False  False
1283    25    260   2          50,53  False  False
1303    21    254   2          50,49  False  False
1396    60    238   2          54,48  False  False
1400    Mr    237   2         77,114  False  False
1420    na    232   2         110,97  False  False
1491    WW    219   2          87,87  False  False
1501    re    218   2        114,101  False  False
1562    80    209   2          56,48  False  False
1583    TV    205   2          84,86  False  False
1649    SB    197   2          83,66  False  False
1686    18    191   2          49,56  False  False
1742    48    184   2          52,56  False  False
1754    BS    182   2          66,83  False  False
1774    IS    180   2          73,83  False  False
1877    70    169   2          55,48  False  False
1888    11    167   2          49,49  False  False
1907    oh    165   2        111,104  False  False
1989    PF    158   2          80,70  False  False
1995    UA    157   2          85,65  False  False
2028    35    154   2          51,53  False  False
2087    19    148   2          49,57  False  False
2127    14    146   2          49,52  False  False
2153    ok    144   2        111,107  False  False
2211    DO    139   2          68,79  False  False
2249    ve    137   2        118,101  False  False
2275    Be    136   2         66,101  False  False
2318    ᴏғ    134   2      7439,1171  False  False
2328    ya    133   2         121,97  False  False
2360    ᴏʀ    131   2       7439,640  False  False
2363    ᴀɴ    131   2       7424,628  False  False
2372    ᴛᴏ    131   2      7451,7439  False  False
2376    ᴀᴛ    131   2      7424,7451  False  False
2386    TO    130   2          84,79  False  False
2397    UO    130   2          85,79  False  False
2426    WE    128   2          87,69  False  False
2521    IN    122   2          73,78  False  False
2539    Ca    121   2          67,97  False  False
2560    DA    120   2          68,65  False  False
2604    75    117   2          55,53  False  False
2659    vs    114   2        118,115  False  False
2668    ad    113   2         97,100  False  False
2715    IT    111   2          73,84  False  False
2737    16    110   2          49,54  False  False
2748    17    109   2          49,55  False  False
2816    ta    105   2         116,97  False  False
2858    24    104   2          50,52  False  False
2902    PC    102   2          80,67  False  False
3018    OF     97   2          79,70  False  False
3058    ai     95   2         97,105  False  False
3166    Ms     91   2         77,115  False  False
3202    -/     90   2          45,47  False   True
3234    v.     88   2         118,46  False  False
3246    W.     88   2          87,46  False  False
3256    13     87   2          49,51  False  False
3305    Ah     85   2         65,104  False  False
3312    45     85   2          52,53  False  False
3334    OR     84   2          79,82  False  False
3444    IF     81   2          73,70  False  False
3474    Hi     79   2         72,105  False  False
3476    DC     79   2          68,67  False  False
3495    Ha     79   2          72,97  False  False
3497    77     79   2          55,55  False  False
3584    65     76   2          54,53  False  False
3594    AA     76   2          65,65  False  False
3639    Me     74   2         77,101  False  False
3644    99     74   2          57,57  False  False
3693    ed     73   2        101,100  False  False
3832    SO     69   2          83,79  False  False
3877    32     69   2          51,50  False  False
3878    ha     69   2         104,97  False  False
3945    em     67   2        101,109  False  False
3963    22     67   2          50,50  False  False
4018    BP     66   2          66,80  False  False
4075    26     64   2          50,54  False  False
4288    II     60   2          73,73  False  False
4290    ID     60   2          73,68  False  False
4361    4J     59   2          52,74  False  False
4422    de     58   2        100,101  False  False
4455    LA     57   2          76,65  False  False
4496    ll     56   2        108,108  False  False
4535    KK     56   2          75,75  False  False
4545    ME     56   2          77,69  False  False
4564    91     55   2          57,49  False  False
4635    28     54   2          50,56  False  False
4674    Ed     54   2         69,100  False  False
4682    AS     54   2          65,83  False  False
4683    55     54   2          53,53  False  False
4751    31     52   2          51,49  False  False
4801    S.     52   2          83,46  False  False
4862    ie     51   2        105,101  False  False
4921    Ok     50   2         79,107  False  False
4962    ON     50   2          79,78  False  False
5042    Am     48   2         65,109  False  False
5080    yr     48   2        121,114  False  False
5107    47     48   2          52,55  False  False
5129    AT     47   2          65,84  False  False
5152    .I     47   2          46,73  False   True
5179    H.     47   2          72,46  False  False
5202    23     46   2          50,51  False  False
5211    tv     46   2        116,118  False  False
5216    al     46   2         97,108  False  False
5253    95     46   2          57,53  False  False
5269    42     46   2          52,50  False  False
5292    IQ     45   2          73,81  False  False
5294    GO     45   2          71,79  False  False
5358    et     45   2        101,116  False  False
5437    37     44   2          51,55  False  False
5466    MY     44   2          77,89  False  False
5469    eh     44   2        101,104  False  False
5513    CA     43   2          67,65  False  False
5516    NY     43   2          78,89  False  False
5564    Uh     43   2         85,104  False  False
5596    Im     42   2         73,109  False  False
5678    29     41   2          50,57  False  False
5719    LE     41   2          76,69  False  False
5817    ol     40   2        111,108  False  False
5837    Ya     40   2          89,97  False  False
6038    SE     37   2          83,69  False  False
6120    SI     37   2          83,73  False  False
6126    33     37   2          51,51  False  False
6195    'S     36   2          39,83  False   True
6198    73     36   2          55,51  False  False
6224    27     36   2          50,55  False  False
6309    85     35   2          56,53  False  False
6395    Ak     35   2         65,107  False  False
6413    Um     34   2         85,109  False  False
6474    AM     34   2          65,77  False  False
6482    BE     34   2          66,69  False  False
6484    PP     34   2          80,80  False  False
6487    Al     34   2         65,108  False  False
6489    34     34   2          51,52  False  False
6526    NW     33   2          78,87  False  False
6562    er     33   2        101,114  False  False
6617    Rs     33   2         82,115  False  False
6649    D.     32   2          68,46  False  False
6751    43     32   2          52,51  False  False
6778    Up     32   2         85,112  False  False
6785    52     32   2          53,50  False  False
6810    CC     31   2          67,67  False  False
6826    Dr     31   2         68,114  False  False
6905    VA     31   2          86,65  False  False
6907    C.     31   2          67,46  False  False
6962    AG     30   2          65,71  False  False
7085    se     30   2        115,101  False  False
7090    Mt     30   2         77,116  False  False
7098    36     30   2          51,54  False  False
7100    SS     30   2          83,83  False  False
7151    FB     29   2          70,66  False  False
7175    JP     29   2          74,80  False  False
7200    66     29   2          54,54  False  False
7233    RV     29   2          82,86  False  False
7305    J.     28   2          74,46  False  False
7316    ex     28   2        101,120  False  False
7319    la     28   2         108,97  False  False
7335    SF     28   2          83,70  False  False
7507    PR     27   2          80,82  False  False
7560    WA     27   2          87,65  False  False
7659    BY     26   2          66,89  False  False
7664    ft     26   2        102,116  False  False
7716    1.     26   2          49,46  False  False
7750    41     26   2          52,49  False  False
7775    B.     26   2          66,46  False  False
7792    IX     26   2          73,88  False  False
7915    -I     25   2          45,73  False   True
8022    CO     25   2          67,79  False  False
8038    62     25   2          54,50  False  False
8066    RR     25   2          82,82  False  False
8121    NE     24   2          78,69  False  False
8133    84     24   2          56,52  False  False
8173    St     24   2         83,116  False  False
8294    DV     24   2          68,86  False  False
8303    IV     23   2          73,86  False  False
8319    44     23   2          52,52  False  False
8329    SW     23   2          83,87  False  False
8339    UP     23   2          85,80  False  False
8366    A.     23   2          65,46  False  False
8398    68     23   2          54,56  False  False
8438    FY     23   2          70,89  False  False
8506    98     23   2          57,56  False  False
8564    59     22   2          53,57  False  False
8662    UK     22   2          85,75  False  False
...    ...    ...  ..            ...    ...    ...
50917   GK      1   2          71,75  False  False
51366   aI      1   2          97,73  False  False
51382   bk      1   2         98,107  False  False
51483   tá      1   2        116,225  False  False
51762   a-      1   2          97,45  False  False
51871   ~8      1   2         126,56  False   True
51957   CE      1   2          67,69  False  False
52121   tm      1   2        116,109  False  False
52287   GQ      1   2          71,81  False  False
52304   4t      1   2         52,116  False  False
52595   9D      1   2          57,68  False  False
52614   DN      1   2          68,78  False  False
52671   .K      1   2          46,75  False   True
52764   5m      1   2         53,109  False  False
53126   M4      1   2          77,52  False  False
53134   cy      1   2         99,121  False  False
53182   NL      1   2          78,76  False  False
53577   sb      1   2         115,98  False  False
53625   ch      1   2         99,104  False  False
53627   Pa      1   2          80,97  False  False
54133   oi      1   2        111,105  False  False
54174   Ce      1   2         67,101  False  False
54237   VI      1   2          86,73  False  False
54284   ec      1   2         101,99  False  False
54563   nd      1   2        110,100  False  False
54597   4-      1   2          52,45  False  False
54797   F1      1   2          70,49  False  False
54805   9M      1   2          57,77  False  False
54841   3-      1   2          51,45  False  False
54849   aa      1   2          97,97  False  False
54928   -~      1   2         45,126  False   True
54932   =\      1   2          61,92  False   True
54977   QE      1   2          81,69  False  False
55103   Ow      1   2         79,119  False  False
55170   Wi      1   2         87,105  False  False
55171   Sc      1   2          83,99  False  False
55172   Nc      1   2          78,99  False  False
55382   WV      1   2          87,86  False  False
55452   fe      1   2        102,101  False  False
55540   7M      1   2          55,77  False  False
55617   ls      1   2        108,115  False  False
55799   5M      1   2          53,77  False  False
55869   CV      1   2          67,86  False  False
55938   Fr      1   2         70,114  False  False
56009   .-      1   2          46,45  False   True
56095   LW      1   2          76,87  False  False
56267   3d      1   2         51,100  False  False
56777   NJ      1   2          78,74  False  False
56778   NM      1   2          78,77  False  False
56779   RI      1   2          82,73  False  False
56822   Mw      1   2         77,119  False  False
56896   8.      1   2          56,46  False  False
56949   Ju      1   2         74,117  False  False
56986   Ml      1   2         77,108  False  False
57079   W/      1   2          87,47  False  False
57104   Lp      1   2         76,112  False  False
57240   .g      1   2         46,103  False   True
57405   Br      1   2         66,114  False  False
57449   9K      1   2          57,75  False  False
57470   k9      1   2         107,57  False  False
57483   MG      1   2          77,71  False  False
57512   GN      1   2          71,78  False  False
57638   Y2      1   2          89,50  False  False
57692   PY      1   2          80,89  False  False
57943   Mx      1   2         77,120  False  False
58069   dc      1   2         100,99  False  False
58341   Jj      1   2         74,106  False  False
58434   nu      1   2        110,117  False  False
58531   cl      1   2         99,108  False  False
58547   2K      1   2          50,75  False  False
58685   IG      1   2          73,71  False  False
58982   og      1   2        111,103  False  False
59045   od      1   2        111,100  False  False
59074   Xi      1   2         88,105  False  False
59240   Sh      1   2         83,104  False  False
59477   Bu      1   2         66,117  False  False
59577   4K      1   2          52,75  False  False
59602   §3      1   2         167,51  False  False
59693   mp      1   2        109,112  False  False
59731   pa      1   2         112,97  False  False
59779   M7      1   2          77,55  False  False
59780   M6      1   2          77,54  False  False
59913   km      1   2        107,109  False  False
60251   Si      1   2         83,105  False  False
60611   k.      1   2         107,46  False  False
61100   ac      1   2          97,99  False  False
61193   /q      1   2         47,113  False   True
61231   W2      1   2          87,50  False  False
61267   1A      1   2          49,65  False  False
61419   Bt      1   2         66,116  False  False
61822   es      1   2        101,115  False  False
61997   VJ      1   2          86,74  False  False
62086   05      1   2          48,53  False  False
62089   07      1   2          48,55  False  False
62363   UG      1   2          85,71  False  False
62479   JM      1   2          74,77  False  False
62511   aw      1   2         97,119  False  False
62605   fy      1   2        102,121  False  False
62796   ~5      1   2         126,53  False   True
62803   ng      1   2        110,103  False  False
62917   =0      1   2          61,48  False   True
63620   W1      1   2          87,49  False  False
63835   hu      1   2        104,117  False  False
63927   CR      1   2          67,82  False  False
63968   WG      1   2          87,71  False  False
64019   4n      1   2         52,110  False  False
64127   cb      1   2          99,98  False  False
64522   CU      1   2          67,85  False  False
64538   LM      1   2          76,77  False  False
64759   kk      1   2        107,107  False  False
65055   ja      1   2         106,97  False  False
65173   uq      1   2        117,113  False  False
65174   pj      1   2        112,106  False  False
65428   db      1   2         100,98  False  False
65429   RH      1   2          82,72  False  False
65567   pg      1   2        112,103  False  False
65584   1D      1   2          49,68  False  False
65907   oF      1   2         111,70  False  False
65930   FS      1   2          70,83  False  False
66036   IM      1   2          73,77  False  False
66104   IO      1   2          73,79  False  False
66254   vp      1   2        118,112  False  False
66294   wd      1   2        119,100  False  False
66299   Wm      1   2         87,109  False  False
66364   O2      1   2          79,50  False  False
66732   D9      1   2          68,57  False  False
66932   §§      1   2        167,167  False  False
66987   GV      1   2          71,86  False  False
67224   5-      1   2          53,45  False  False
67307   FF      1   2          70,70  False  False
67321   1M      1   2          49,77  False  False
67447   pb      1   2         112,98  False  False
67454   ☕️      1   2     9749,65039  False  False
67567   U9      1   2          85,57  False  False
67638   CN      1   2          67,78  False  False
67659   bo      1   2         98,111  False  False
67840   LL      1   2          76,76  False  False
67917   -4      1   2          45,52  False   True
67976   s1      1   2         115,49  False  False
67991   UJ      1   2          85,74  False  False

In [152]:
print(len(two_letter_words), " words with 2-letters")

1111  words with 2-letters